### No node_modules.
node_modules/

### No built/compiled code.
dist/

### No *.js and *.js.map files.
**/*.js
**/*.js.map

### No *.css and *.css.map files.
**/*.css
**/*.css.map

### No package files.
**/*.vsix

### Exceptions.
!config/webpack/webpack.*.js
